# Ignore
.idea
.coverage
*.pt
creds.txt
STATUS.md
.python-version

# Ignore deps
**/methods/*/deps

# Ignore results
python/**/results/*

# Ignore output from PySR
**/hall_of_fame*.*

# Ignore Py chache
**/__pycache__/
